@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import "./base/colors.scss";

* {
  font-family: 'Poppins', sans-serif;
}

/* Set the color of the scroll bar */
::-webkit-scrollbar {
  background-color: $dark-color;
  width: 8px;
}

/* Set the style of the thumb */
::-webkit-scrollbar-thumb {
  background-color: $primary-color;
  border-radius: 8px;
}

/* Set the style of the track */
// ::-webkit-scrollbar-track {
//   background-color: $dark-color;
// }
