@import "./../../styles/base/colors.scss";

.read-more-button {
  background-color: $primary-color !important;
}

/*** Team ***/
.team-item {
  box-shadow: 0 0 45px rgba(0, 0, 0, .08);
  height: calc(100% - 40px);
  transition: .5s;

  img {
    transition: .5s;
  }

  .btn {
    border-radius: 38px 38px 0 0;
    margin: 0 5px;
    background-color: $primary-color;
    color: $light-color;
    height: 40px;

    &:hover {
      background-color: $primary-color;
    }
  }

  &:hover {
    height: 100%;

    img {
      transform: scale(1.1);
    }
  }
}
