@import "./../../styles/base/colors.scss";

.reservation-image {
  background-image: url("./../../assets/home/video.jpg");
  background-size: 100% 100%;
}



.book-button {
  background-color: $primary-color !important;
  color: $light-color;

  &:hover {
    background-color: $primary-color;
    color: $light-color;
  }
}