
@import "./../../../styles/base/colors.scss";

.hero-header {
  img {
    animation: imgRotate 50s linear infinite;
  }

  .book-table-button {
    background-color: $primary-color;
  }
}

@keyframes imgRotate { 
  100% { 
      transform: rotate(360deg); 
  } 
}